/* COLORS */
.text-blue-green {
  color: $blueGreen;
}

.text-gold {
  color: $gold;
}

.text-default {
  color: $default;
}

.text-white {
  color: $white;
}


/* FONT WEIGHT */

.font-light {
  font-weight: 100;
}

.font-regular {
  font-weight: normal;
}

.font-semi-bold {
  font-weight: 300;
}

.font-bold {
  font-weight: bold;
}
