$cardHeight: calc(90vh - 90px);

.card-full-height {
  height: $cardHeight;
  min-height: $cardHeight;
  margin: 0;
}

.commendations-container {
  overflow-y: scroll;
  height: 90%;
}

.commendations-body {
  height: 90%;
}

.mid-section {
  height: 23vh;
}
