.row.text-white.font-size-16.mb-4
  .col-md-6
    | Hello 
    span.text-gold User
    | , welcome to your dashboard!
    span.font-size-30 &nbsp;
  .col-md-6.text-right
    | MNL 
    span.font-size-30 {{ localTime }}
    strong.font-size-30 | 
    | EST 
    span.font-size-30 {{ timeInEST }}

.row
  //- 1st column - PT
  .col-md-5
    .card.card-full-height
      .card-body
        h4.card-title.text-uppercase Focus for the Day
        hr
  //- 2rd column - Worklogs, Events and SP Coins
  .col-md-4
    .card
      .card-body
        h4.card-title.text-uppercase Worklog
        hr
        .font-size-30.text-gold.text-center 00:11:11
        p.text-center
          strong SourcePad: 
          span Fixing recurring bug
        .row
          .col-md-4
            | Today: 
            strong.text-gold 06h36m
          .col-md-4
            | Week: 
            strong.text-gold 06h36m
          .col-md-4
            | Month: 
            strong.text-gold 06h36m
    .row
      .col-md-6
        .card
          .card-body
            h4.card-title Company Events this Month
            hr
      .col-md-6
          button.btn.btn-suite.btn-block((click)='openModal(leave)')
            i.ti-plus
            | REQUESTS
          .card.bg-light.text-center
            .card-block
              p.text-uppercase.font-size-13 Leave Balance
              .no-mrg-top.font-size-30.text-gold 30
              span DAYS
    .row
      .col-md-6
        .card
            .card-body
              h4.card-title Employee Events Today
              hr
      .col-md-6
        .card.bg-light.text-center
          .card-block
            p.text-uppercase.font-size-13 Earned
            .no-mrg-top.font-size-30.text-gold 20
            span.text-uppercase SP Coins
            br
            small as of 03/03/2001

  //- 3rd column - Shout-out/CIT
  .col-md-3
    .card.card-full-height
      .card-body.commendations-body
        h4.card-title Shout-out / CIT Board
        hr
        .commendations-container
          table.table.table-striped.table-dark
            tbody
              tr(*ngFor="let i of [1,2,3,4,5,6,7,8,9,10]")
                td
                  .mb-1
                    strong.text-gold Shout-out 
                    | to 
                    strong Ruth 
                    | from 
                    strong MIL
                  div Rapid bug fixes for SMS360
                  small 03/03/2001

      button.btn.btn-suite.btn-block((click)='openModal(cit)')
        i.ti-speaker
        | GIVE A SHOUT-OUT



//- leave modal
ng-template(#leave='', let-c='close', let-d='dismiss')
  form
    .modal-header
      h4.modal-title.text-uppercase REQUESTS
      button.close(type='button', aria-label='Close', (click)="c('Cross click')")
        span(aria-hidden='true').ti-close
    .modal-body
      .form-group
        label EVENT:
        .row
          .col-md-6
            .form-check
              input#inputRadio1.form-check-input(type='radio', name='event', value='')
              label.form-check-label(for='inputRadio1')
                | Vacation Leave
          .col-md-6
            .form-check
              input#inputRadio2.form-check-input(type='radio', name='event', value='')
              label.form-check-label(for='inputRadio2')
                | Half VL
        .row
          .col-md-6
            .form-check
              input#inputRadio3.form-check-input(type='radio', name='event', value='')
              label.form-check-label(for='inputRadio3')
                | Sick Leave
          .col-md-6
            .form-check
              input#inputRadio4.form-check-input(type='radio', name='event', value='')
              label.form-check-label(for='inputRadio4')
                | Half SL

        .row
          .col-md-6
            .form-check
              input#inputRadio5.form-check-input(type='radio', name='event', value='')
              label.form-check-label(for='inputRadio5')
                | Work from Home
          .col-md-6
            .form-check
              input#inputRadio6.form-check-input(type='radio', name='event', value='')
              label.form-check-label(for='inputRadio6')
                | Work on Holiday

      .form-group
        label DATE:
        .input-group
          input.form-control(placeholder='yyyy-mm-dd', name='dp', ngbDatepicker='', #d='ngbDatepicker')
          .input-group-append
            button.btn.btn-outline-secondary((click)='d.toggle()', type='button')
              span.ti-calendar

      .form-group
        label(for='inputReason') REASON:
        textarea#inputReason.form-control(type='text', placeholder='Not feeling well :(')
    .modal-footer
      button.btn.btn-suite(type='button', (click)="c('Close click')") Save
      button.btn.btn-dark(type='button', (click)="c('Close click')") Close

//- CIT modal
ng-template(#cit='', let-c='close', let-d='dismiss')
  form
    .modal-header
      h4.modal-title.text-uppercase Shout-out/CIT
      button.close(type='button', aria-label='Close', (click)="c('Cross click')")
        span(aria-hidden='true').ti-close
    .modal-body
      .form-group
        label(for='inputType') TYPE:
        select#inputType.form-control
          option(value="cit") CIT
          option(value="shoutout") Shout-out
      .form-group
        label(for='inputTo') TO:
        input#inputTo.form-control(type='text', placeholder='Name')
      .form-group
        label(for='inputFrom') FROM:
        input#inputFrom.form-control(type='text', placeholder='Gene')
      .form-group
        label(for='inputMessage') MESSAGE:
        textarea#inputMessage.form-control(type='text', placeholder='Weekend warrior!')
    .modal-footer
      button.btn.btn-suite(type='button', (click)="c('Close click')") Save
      button.btn.btn-dark(type='button', (click)="c('Close click')") Close
